body { 
    display:flex; 
    flex-direction:column;
    justify-content:center;
    align-items: center;
    min-height: 100vh ; 
    margin: 0 ; 
    gap : 20px ; 
    padding : 20px ; 
    background-color: white;
}




.main-block { 
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width : 500px ; 
    aspect-ratio: 1/1 ;
    border : 5px solid black ; 
    border-radius: 5px;
}

.block {

    position : relative ; 
    box-sizing:border-box ;
    opacity : 0 ;  
}

.button { 
    font-family: sans-serif;
    border : 5px solid grey ; 
    border-radius : 5px ; 
    font-weight: 900 ;
    background-color: black ;
    color: white ;
    padding: 10px ;
    
}

.title-container { 
    font-size : 30px ; 
    font-family: sans-serif;
    border : 5px solid black ; 
    border-radius : 5px ; 
    font-weight: 900 ;
    background-color: grey ;
    color: white ;
    padding: 20px ;

}